<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(__DIR__ . '/vendor')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
	->setUsingCache(false)

    ->setIndent('    ')
    ->setLineEnding("\n")
    
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'long'],
    ])
    ->setFinder($finder)
;
